<style>
  /* flash animation */
  .flash-anima {
    position: fixed;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    animation: slide-in-out 1.5s ease-in-out forwards;
  }

 @keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
}


  @media (max-width: 767px) {
    .flash-anima {
      top: 8rem;
      width: 90%;
    }
  }
</style>

<% if (typeof success !== "undefined" && success.length) { %>
  <div class="flash-anima alert alert-success col-8 col-md-6 text-center">
    <%= success %>
  </div>
<% } %>

<% if (typeof error !== "undefined" && error.length) { %>
  <div class="flash-anima alert alert-danger col-8 col-md-6 text-center">
    <%= error %>
  </div>
<% } %>
